.search {
  padding: 135px 0px 91px;
  &__wrapper {
    padding: 33px 110px 43px 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 22px;
    max-width: 1100px;
    height: 377px;
    background: rgb(246, 246, 246);
    &__content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        color: rgb(30, 29, 29);
        font-family: Poppins;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0%;
      }
      p {
        color: rgb(139, 142, 153);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0%;
      }
      .input__wrapper {
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        border-radius: 15px;
        width: 443px;
        height: 60px;
        background: rgb(255, 255, 255);
        button {
          height: 50px;
        }
        .search__input {
          border: none !important   ;
          outline: none;
          color: rgba(139, 142, 153, 0.7);
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 125.5%;
          letter-spacing: 0%;
        }
      }
    }
    img {
      width: 272px;
      height: 301px;
    }
  }
}
.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  background: rgb(11, 11, 11);
  a {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 125.5%;
    letter-spacing: 0%;
  }
}
