.navbar {
  display: flex;
  z-index: 9999;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 70px;
  background: linear-gradient(
    152.04deg,
    rgb(56, 54, 56) 1.732%,
    rgb(11, 11, 11) 27.783%
  );
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar__left {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 27px;
        height: 27px;
      }
      h2 {
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
      }
    }
    .navbar__list {
      display: flex;
      align-items: center;
      gap: 27px;
      li {
        a {
          color: rgb(139, 142, 153);
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0%;
        }
        a.active {
          color: white;
          text-decoration: underline;
        }
      }
    }
    .navbar__right {
      display: flex;
      align-items: center;
      gap: 15px;
      svg {
        width: 20px;
        height: 20px;
        color: white;
      }
    }
  }
  .seraching__btn {
    border: none;
    outline: none;
    background-color: transparent;
  }
}
//  searching

.searching {
  position: fixed;
  padding: 20px;
  top: 0px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  .exit__btn {
    border: none;
    outline: none;
    background-color: transparent;
  }
  .exitimg {
    color: red;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
  }
  // background-color: #ddd;
  &__input {
    position: relative;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    input {
      display: flex;
      flex: 1;
      border: none;
      outline: none;
      height: 100%;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
    }
    .searching__modul {
      border-radius: 5px;
      padding: 20px;
      width: 100%;
      top: calc(100% + 5%);
      left: 0;
      max-height: 200px;
      overflow: auto;
      position: absolute;
      background-color: white;
    }
  }
}
.searching__icons {
  color: gray;
  font-size: 20px;
}
.searching__modul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.seraching__wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
  }
}
//  searching
h3 {
  font-family: Poppins;
  font-size: 16px;
}
