.product {
  padding: 73px 0px 140px;
  display: flex;
  flex-direction: column;
  gap: 135px;
}
body {
}
.cards__wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
  .card {
    width: 100%;
    max-width: 334px;
    // height: 380px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
    .card__btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border: none;
      outline: none;
      background-color: white;
      box-shadow: 0px 0px 1px 1px gray;
      font-size: 16px;
      color: #000;
      font-family: Poppins;
      border-radius: 0px 0px 10px 10px;
      font-weight: 700;
    }
    .card__img__wrapper {
      width: 100%;
      display: flex;
      height: 220px;
      background-color: #ddd;
      align-items: center;
      justify-content: center;
      padding: 15px;
      border-radius: 10px 10px 0px 0px;
      img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        background: transparent;
        // border-radius: 10px 10px 0px 0px;
      }
    }
    .card__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      gap: 10px;
      h3 {
        color: rgb(30, 29, 29);
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      img {
        width: 104px;
      }
      .price__wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        del {
          color: gray;
          font-family: Poppins;
          font-size: 20px;
          font-weight: 600;
          line-height: 120.5%;
          letter-spacing: 0%;
        }
        p {
          color: rgb(0, 0, 0);
          font-family: Poppins;
          font-size: 24px;
          font-weight: 600;
          line-height: 120.5%;
          letter-spacing: 0%;
        }
      }
    }
  }
}
.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.product__wrapper {
  display: flex;
  flex-direction: column;
  gap: 65px;
  .cards__title__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
      color: rgb(56, 88, 214);
      font-family: Poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: center;
    }
    h2 {
      color: rgb(30, 29, 29);
      font-family: Poppins;
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0%;
      text-align: center;
    }
  }
}
.more__btn {
  width: 196px;
  height: 46px;
  border: none;
  outline: none;
  border-radius: 15px;
  background: rgb(56, 88, 214);
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin: auto;
}
.profile__swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile__card {
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 28px;
  width: 100%;
  border-radius: 22px;
  max-width: 524px;
  height: 239px;
  background: rgb(246, 246, 246);
  .profile__card__img {
    width: 162.3px;
    height: 179px;
  }
  .profile__card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h4 {
      color: rgb(30, 29, 29);
      font-family: Poppins;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0%;
      text-align: left;
    }
    p {
      color: rgb(139, 142, 153);
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
  .profile__card__star {
    width: 109.04px;
    height: 16.62px;
  }
}
